<!-- start custom footer snippets -->

<a class="page__footer-sitemap" href="/sitemap/">Sitemap</a>

<!-- Support for MatJax -->
<script defer src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>

<!-- Support for Plotly -->
<script defer src='https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.0.1/plotly.min.js'></script>

<!-- Support for Mermaid -->
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({startOnLoad:true, theme:'default'});
    await mermaid.run({querySelector:'code.language-mermaid'});
</script>

<div
  class="page__footer-map"
  data-mapmyvisitors-widget
  data-mapmyvisitors-token="mOzf9lF3w79wlP1Gojj3-_WHp_IU_yZ_aG2aCw617fA"
>
    <a
      class="clustrmaps-link"
      href="https://mapmyvisitors.com/"
      title="Visit tracker"
    >
      <img
        class="clustrmaps-image"
        data-mapmyvisitors-image
        src="https://mapmyvisitors.com/map.png?cl=686277&w=150&t=m&d=mOzf9lF3w79wlP1Gojj3-_WHp_IU_yZ_aG2aCw617fA&co=dad7ed&ct=686277&cmo=4f7c82&cmn=c85582"
        alt="Visitor map"
        decoding="async"
      />
    </a>
</div>
<!-- end custom footer snippets -->
